@import '../variables.styl'

// TokyoNight Theme
$code-foreground = #565a6e
$code-background = #d5d6db
$highlight-foreground = #565a6e
$highlight-background = #d5d6db
$highlight-gutter-color = #373D3F
$highlight-gutter-bg-color = #EEEEEE
$highlight-keyword = #0f4b6e
$highlight-link = #0f4b6e
$highlight-built-in = #8f5e15
$highlight-number = #965027
$highlight-string = #485e30
$highlight-regexp = #8c4351
$highlight-subst = #0f4b6e
$highlight-comment = #9699a3
$highlight-doctag = #8c4351
$highlight-variable = #965027
$highlight-attr = #8f5e15
$highlight-bullet = #485e30
$highlight-addition = #485e30
$highlight-deletion = #8c4351
$night-code-foreground = #9aa5ce
$night-code-background = #1a1b26
$night-highlight-foreground = #9aa5ce
$night-highlight-background = #1a1b26
$night-highlight-gutter-color = #bebec6
$night-highlight-gutter-bg-color = #21252b
$dark-highlight-keyword = #f7768e
$dark-highlight-link = #ff9e64
$dark-highlight-built-in = #e0af68
$dark-highlight-number = #ff9e64
$dark-highlight-string = #9ece6a
$dark-highlight-regexp = #bb9af7
$dark-highlight-subst = #7dcfff
$dark-highlight-comment = #565f89
$dark-highlight-doctag = #f7768e
$dark-highlight-meta = #565f89
$dark-highlight-variable = #ff9e64
$dark-highlight-attr = #e0af68
$dark-highlight-section = #7aa2f7
$dark-highlight-bullet = #9ece6a
$dark-highlight-addition = #9ece6a
$dark-highlight-deletion = #f7768e

code-theme(mode)
  --code-foreground: mode == 'light' ? $code-foreground : $night-code-foreground
  --code-background: mode == 'light' ? $code-background : $night-code-background
  --highlight-background: mode == 'light' ? $highlight-background : $night-highlight-background
  --highlight-foreground: mode == 'light' ? $highlight-foreground : $night-highlight-foreground
  --highlight-keyword: mode == 'light' ? $highlight-keyword : $dark-highlight-keyword
  --highlight-link: mode == 'light' ? $highlight-link : $dark-highlight-link
  --highlight-built-in: mode == 'light' ? $highlight-built-in : $dark-highlight-built-in
  --highlight-number: mode == 'light' ? $highlight-number : $dark-highlight-number
  --highlight-string: mode == 'light' ? $highlight-string : $dark-highlight-string
  --highlight-regexp: mode == 'light' ? $highlight-regexp : $dark-highlight-regexp
  --highlight-subst: mode == 'light' ? $highlight-subst : $dark-highlight-subst
  --highlight-comment: mode == 'light' ? $highlight-comment : $dark-highlight-comment
  --highlight-doctag: mode == 'light' ? $highlight-doctag : $dark-highlight-doctag
  --highlight-meta: mode == 'light' ? $highlight-meta : $dark-highlight-meta
  --highlight-variable: mode == 'light' ? $highlight-variable : $dark-highlight-variable
  --highlight-attr: mode == 'light' ? $highlight-attr : $dark-highlight-attr
  --highlight-section: mode == 'light' ? $highlight-section : $dark-highlight-section
  --highlight-bullet: mode == 'light' ? $highlight-bullet : $dark-highlight-bullet
  --highlight-addition: mode == 'light' ? $highlight-addition : $dark-highlight-addition
  --highlight-deletion: mode == 'light' ? $highlight-deletion : $dark-highlight-deletion

:root
  code-theme('light')

@media (prefers-color-scheme light)
  :root
    code-theme('light')

@media (prefers-color-scheme dark)
  :root
    code-theme('dark')

.light-mode
  code-theme('light')

.dark-mode
  code-theme('dark')
