span,p,h1,h2,h3,h4,h5,h6{
    font-family:  "SF Pro", "PingFang SC", sans-serif;
}

body{
    margin:0
}

.el-card{
    border-radius: 25px !important;
}

.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width{
    width:100%
}